<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100880173-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100880173-2');
</script>

<title>No Man's Ski (puns of No Man's Sky)</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/w3-specialization.css">
</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-hide-small" id="myNavbar">
      <a href="#about" class="w3-bar-item w3-button w3-right w3-xlarge"><i class="fa fa-user"></i> ABOUT</a>
      <a href="/add" class="w3-bar-item w3-button w3-right w3-xlarge"><i class="fa fa-plus"></i> ADD</a>
      <a href="/" class="w3-bar-item w3-button w3-right w3-xlarge"><i class="fa fa-refresh"></i> ONE MORE</a>
    </div>
    <div class="w3-bar w3-black w3-hide-medium w3-hide-large" id="myNavbar">
      <a href="#about" class="w3-bar-item w3-button w3-right w3-large"><i class="fa fa-user"></i> ABOUT</a>
      <a href="/add" class="w3-bar-item w3-button w3-right w3-large"><i class="fa fa-plus"></i> ADD</a>
      <a href="/" class="w3-bar-item w3-button w3-right w3-large"><i class="fa fa-refresh"></i> ONE MORE</a>
    </div>
</div>

<!-- CONTENT -->
<div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle" >
        <form method="POST">
            <h3>Submit your own proposal!</h3>
            <h4>Title:</h4>
            <input name="title">
            <h4>Description:</h4>
            <input name="desc">
            </br>
            <input type="submit" class="w3-margin-top">
        </form>
        <p>{{ msg }}</p>
    </div>
</div>


<!-- Footer -->
<footer class="w3-center footer-color footer-margin" id="about">
    <h3 class="w3-center">ABOUT</h3>
    <p class="w3-center"><em>I love space exploration... and puns.</em></p>
    <p>The No Man's Sky game came out in 2016 with a lot of hype. Maybe the very best thing about it is its pun-friendly title?</p>
    <p>Of course, you should try the real game: <a href="https://www.nomanssky.com" class="bold-text w3-hover-opacity">www.nomanssky.com</a></p>
    <p>My name is Marcus Näslund and I work as a software engineer. Check me out at <a href="https://github.com/naslundx" class="w3-hover-opacity">GitHub</a> or <a href="https://www.linkedin.com/in/naslundx/" class="w3-hover-opacity">LinkedIn</a>.</p>

    <div class="w3-xlarge w3-section">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnomansski.com%2F&amp;src=sdkpreparse" target="_blank" class="fa fa-facebook-official w3-hover-opacity"></a>
        <a href="https://twitter.com/intent/tweet?text=No+man%27s+ski%3A+https%3A%2F%2Fnomansski.com" target="_blank" class="fa fa-twitter w3-hover-opacity"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fnomansski.com&title=No+man%27s+ski&summary=No+man%27s+sky+puns&source=LinkedIn" target="_blank" class="fa fa-linkedin w3-hover-opacity"></a>        
    </div>
    <div class="w3-large w3-section">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    </div>
</footer>
 
</body>
</html>
